<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
    <link rel="stylesheet" href="css/reset.css">
    <style>
        .box {
            width: 180px;
            height: 180px;
            font-size: 3em;
            text-align: center;
            line-height: 180px; /* center vertically */
            margin: 10px;
        }
        #demo1 .box {
            display: inline-block;
            background: red;
        }
        #demo2 .box {
            display: inline-block;
            background: purple;
        }
    </style>
</head>
<body>

<div id="demo">
    <div id="demo1">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
    </div>
    <div id="demo2">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">3</div>
    </div>
</div>

</body>
</html>
