<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
    <style>
        /*
        Default with is already 100% stretch to screen.

        To stretch full vertical page height, you must set
        most top level element, "html" to 100% first, then body
        then whatever you have next.
        */
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>

<div style="height: 100%; border: 1px solid black;">
    Hello
</div>

</body>
</html>
