<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
</head>
<body>

<h1>Flexbox</h1>
<p>Flex items can be layout in vertical columns.</p>
<div id="demo">
    <div id="container" style="display: flex; flex-direction: column;">
        <div style="flex: 1 1 auto; border: 1px solid green;">
            box1
        </div>
        <div style="flex: 1 1 auto; border: 1px solid green;">
            box2
        </div>
    </div>
</div>

<h1>Compare to default div blocks</h1>
<div id="demo2">
    <div id="container2">
        <div style="flex: 1 1 auto; border: 1px solid green;">
            box1
        </div>
        <div style="flex: 1 1 auto; border: 1px solid green;">
            box2
        </div>
    </div>
</div>

</body>
</html>
