<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
</head>
<body>

<!--
- https://css-tricks.com/snippets/css/a-guide-to-flexbox/
- https://developer.mozilla.org/en-US/docs/Web/CSS/flex
- https://www.w3.org/TR/css-flexbox-1/

Flex Container:
    display: flex;

Flex Item:
    flex: auto; /* flex: 1 1 auto */
    /* flex format: none |[ <'flex-grow'> <'flex-shrink'>? || <'flex-basis'> ] */

-->
<h1>Flexbox</h1>
<p>Flexbox is controlled by a container and items inside.
Resize the browser windows to see style behavior with demos below.</p>
<div id="demo">
    <div id="container" style="display: flex">
        <div style="flex: 1 1 auto; border: 1px solid green;">
            box1
        </div>
        <div style="flex: 1 1 auto; border: 1px solid tomato;">
            box2
        </div>
    </div>
</div>

</body>
</html>
