<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML/CSS/JavaScript Starter</title>
    <link rel="stylesheet" href="css/reset.css">
    <style>
        #block-to-inline-demo li {
            display: inline;
        }
    </style>
</head>
<body>

<div id="demo">

<h1>Block Elements</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias facilis id odio perferendis sunt. Ab consequuntur dolore, exercitationem in quam sunt temporibus. Adipisci cum delectus deleniti harum ipsum quae repellendus!</p>
    <div>TEST</div>
    <blockquote>Hello World</blockquote>
    <ul>
        <li>a</li>
        <li>b</li>
        <li>c</li>
    </ul>
</div>

<h1>Inline Elements</h1>
<span>Hello</span> world. <img src="https://via.placeholder.com/20.png"> worth a 1000 words.
</div>

<h1>Block to Inline Elements</h1>
<ul id="block-to-inline-demo">
    <li>a</li>
    <li>b</li>
    <li>c</li>
</ul>

</div>

</body>
</html>
